{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Inscription
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        (-)
    {% endfor %}

	<h1>Créer un compte</h1>
	<hr>
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.fullname, {'attr': {'placeholder': "Nom et prénom"}, 'label' : false}) }}
	{{ form_row(registrationForm.email, {'attr': {'placeholder': "Adresse email"}, 'label' : false}) }}
	{{ form_row(registrationForm.password) }}

	<button type="submit" class="btn btn-success">Inscription</button>

	{{ form_end(registrationForm) }}
{% endblock %}

