{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} | Accueil
{% endblock %}

{% block header %}

	<header class="index-header">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show rounded-0 border-0" role="alert">
				<div class="text-center">
					<i class="fas fa-check-circle"></i> {{ message }}
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12 text-center">
					<h1 class="fw-light">Welcome to SnowTricks</h1>
					<p class="lead">The best way to become a freestyler</p>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	<section>
		<div class="row">
			{% for trick in tricks.iterator %}
				<div class="card-group text-secondary col-lg-4 mt-4">
					<div class="card">
						{% for picture in trick.pictures %}
							{% if picture.isMain == true %}
								<a href="{{ path('trick_show', {'slug': trick.slug}) }}"><img src="{{ asset('uploads/pictures/' ~ picture.filename) }}" class="img-fluid" alt=" {{ trick.name }} "></a>
							{% endif %}
						{% endfor %}
						<div class="card-body {{ app.user != true ? 'text-center' }}">
							<a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="card-link text-decoration-none">{{ trick.name }}</a>
							{% if app.user %}
								<a href="{{ path('trick_update', {'slug': trick.slug}) }}" class="card-link text-decoration-none">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
								<a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="card-link text-decoration-none" onclick="return window.confirm('Voulez-vous vraiment supprimer ce trick : {{ trick.name }} ?')">
									<i class="fas fa-trash"></i>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<div>
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item {{ currentPage <= 1 ? 'disabled' }}">
					<a class="page-link" href="{{ path('tricks_all_paginated', {'page': currentPage != 1 ? currentPage - 1 : 1}) }}">Précédente</a>
				</li>

				{% for page in range(1, lastPage) %}
					<li class="page-item {{ currentPage == page ? 'active' : '' }}">
						<a class="page-link" href="{{ path('tricks_all_paginated', {'page': page}) }}">{{ page }}</a>
					</li>
				{% endfor %}
				<li class="page-item {{ currentPage >= lastPage ? 'disabled' }}">
					<a class="page-link" href="{{ path('tricks_all_paginated', {'page': currentPage != lastPage ? currentPage + 1 : lastPage}) }}">Suivante</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}
